header {
  background-color: #ffffff;
  border-bottom: 1px solid #d1e7dd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #0b3d2e;
}

/* Hero */
.hero {
  background: url("/img/header.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 120px 0;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container {
  background-color: rgba(11, 61, 46, 0.6);
  padding: 40px;
  border-radius: 12px;
  max-width: 800px;
  color: #ffffff;
}

.contact-item {
  margin-top: 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(6, 40, 30, 0.5);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .container .btn {
  margin-top: 24px;
}

.btn {
  background-color: #1e7f5c;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 24px;
}

.btn-contact {
  color: #ffffff !important;
}

.btn:hover {
  background-color: #06281e;
}

/* Hero 1 */
.hero1 {
  background: url("/img/pwb.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 120px 0;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero1 .container {
  background-color: rgba(11, 61, 46, 0.6);
  padding: 40px;
  border-radius: 12px;
  max-width: 800px;
  color: #ffffff;
}

.contact-item {
  margin-top: 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(6, 40, 30, 0.5);
  z-index: 1;
}

.hero1 .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero1 .container .btn {
  margin-top: 24px;
}

.btn {
  background-color: #1e7f5c;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 24px;
}

.btn:hover {
  background-color: #06281e;
}
